<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      name="name"
      ngModel
      #name="ngModel"
      class="form-control"
      id="name"
      required
    />
    <div
      *ngIf="name.invalid && name.touched"
      class="alert alert-danger my-2"
      role="alert"
    >
      A simple danger alert—check it out!
    </div>
  </div>

  <div class="mb-3">
    <label for="alterEgo" class="form-label">Alter Ego</label>
    <input
      type="text"
      name="alterEgo"
      ngModel
      #alterEgo="ngModel"
      class="form-control"
      id="alterEgo"
      required
    />
    <div
      *ngIf="alterEgo.invalid && alterEgo.touched"
      class="alert alert-danger my-2"
      role="alert"
    >
      A simple danger alert—check it out!
    </div>
  </div>

  <div class="mb-3">
    <label for="power" class="form-label">Power</label>
    <select class="form-select form-control" id="power" required>
      <option *ngFor="let power of powers" [value]="power">{{ power }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="enemy" class="form-label">Enemy</label>
    <input
      type="text"
      name="enemy"
      ngModel
      #enemy="ngModel"
      class="form-control"
      id="enemy"
      maxlength="10"
    />
  </div>

  <div class="mb-3">
    <label for="planet" class="form-label">Planet</label>
    <input
      type="text"
      name="planet"
      ngModel
      #planet="ngModel"
      class="form-control"
      id="planet"
      required
      maxlength="5"
    />
  </div>

  <div class="mb-3">
    <label for="weackness" class="form-label">Weackness</label>
    <input
      type="text"
      name="weackness"
      ngModel
      #weackness="ngModel"
      class="form-control"
      id="weackness"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
